.Road_map{  
 padding-top: 20px;
color: black;
display: flex;
justify-content: center;
font-size: 30px;
background-color: rgb(251, 251, 251);
}


.playlist{  
  
    color: black;
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(254, 253, 251);
   
   }
   .channel{  
    color: black;
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: chocolate;
   
   }

.container_page{
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    margin-bottom: 0;
   
    margin-top: 0;
  



}



.card_page{
    background-color: rgb(244, 244, 243);
    border-radius: 20px;
    height: 200px;
    width: 300px;
    margin-top: 10px;
    color: white;
    margin-bottom: 20px;
    margin-left: 20px;
    
    
}
.contain_page{

background-color: rgb(2, 1, 0);


}

.card_page:hover{
   
   
    height:210px;
    width: 320px;
 transition: .35s;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
   

   


}



iframe{
    height: 200px;
    width: 300px;
   border-radius: 10px;
   
}


iframe:hover{
    height:210px;
    width: 320px;
 transition: .35s;
    
    margin-bottom: 10px;
   
}




@media screen and (min-width: 0px) and (max-width: 419px) {
    .container_page{
        
        grid-template-columns: 1fr;
    }
    .card_page{
        margin-left: 80px;
      

       
           }
           .card_page:hover{
   
            margin-bottom: 10px;
            margin-left: 70px;
            transition: .40s;
          
         
           }
   
    
    
    .nav_contact{
        opacity: 0;
       
    }

    .playlist{  
  
       
        font-size: 15px;
       
       
       }
       .channel{  
  
       
        font-size: 15px;
       
       
       }
       .Road_map{  
  
       
        font-size: 15px;
       
       } 
       


}
@media screen and (min-width: 420px) and (max-width: 600px) {
    .container_page{
        
        grid-template-columns: 1fr;
    }
    .card_page{
 margin-left: 100px;
 margin-right: 100px;

    }
    .card_page:hover{
   
        margin-bottom: 10px;
        margin-left: 70px;
        transition: .40s;
      
     
       }
    iframe{
        margin-left: 100px;
 margin-right: 100px;
        
    
    }
    .playlist{  
  
       
        font-size: 16px;
       
       
       }
       .channel{  
  
       
        font-size: 16px;
       
       
       }
       .Road_map{  
  
       
        font-size: 16px;
       
       
       }


    
}

@media screen and (min-width: 601px) and (max-width: 819px) {
    .container_page{
        
        grid-template-columns: 1fr 1fr ;
        
    }


    .card_page{
       
        margin-left: 80px;
    }
    .playlist{  
  
       
        font-size: 20px;
       
       
       }
       .channel{  
  
       
        font-size: 20px;
       
       
       }
       .Road_map{  
  
       
        font-size: 20px;
       
       
       }
   
}

@media screen and (min-width: 820px) and (max-width: 1040px) {
    .container_page{
        
        grid-template-columns: 1fr 1fr 1fr;
    }
   
}

@media screen and (min-width: 1080px) and (max-width: 1400px) {
    .container_page{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   
}
