.course_name{

    color: white;
    text-decoration: none;
    font-size: 50px;
}
.course_name:hover{

    cursor: pointer;
}

.l_text{
    color: chocolate;
    
}
.course_list{
    display: grid;
        justify-content: center;
        
    
    }
.l_text:hover{
    color: white;
   

}
.f_text:hover{
    color: chocolate;
}
.n_text{
color: white;
}



@media screen and (min-width: 0px) and (max-width: 419px) {
    
    .course_list{
        font-size: 25px;

    }
    .course_name{

        
        font-size: 25px;
    }
   
}

@media screen and (min-width: 420px) and (max-width: 600px) {
    
    .course_list{
        font-size: 25px;

    }
    .course_name{

        
        font-size: 25px;
    }
   
}