
.btn_nav{
   
  
   flex: 1;
    background-color: black;
    margin-left: 0;
    padding: 25px;
}

.nav_home:hover{
 cursor: pointer;
color: chocolate;
font-size: 22px;
transition: .35s;

}

.nav_course:hover{
    cursor: pointer;
   color: chocolate;
   font-size: 22px;
   transition: .35s;
   
   }

   .nav_contact:hover{
    cursor: pointer;
   color: chocolate;
   font-size: 21px;
   transition: .35s;
   
   }

.nav_home{
    background-color: black; 
    color: coral;
    border: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  
}

.nav_course{
    background-color: black; 
    color: coral;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  
}

.nav_contact{
    background-color: black; 
    color: coral;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}



.navbar{
   
    display: flex;
 position: fixed;
 width: 100%;
 margin-top: 0px;
 margin-bottom: 0;
padding: 0px;

}
.logo{
 

justify-content: end;
padding: 15px;
background-color: black;

}
.f_logo{
    color: azure;
    font-size:25px ;
}
.r_logo{
    color: chocolate;
    font-size:20px ;
}
.f_logo:hover{
cursor: pointer;

color: chocolate;
font-size: 30px;
transition: .35s;


}
.r_logo:hover{
    cursor: pointer;
    
    color:white;
    font-size: 25px;
    transition: .35s;
    
    
    }
   