
.btn_nav{
   
  
   flex: 1;
    background-color: black;
    margin-left: 0;
    padding: 20px;
}

button:hover{
 cursor: pointer;
color: chocolate;
font-size: 22px;
transition: .35s;

}

button{
    background-color: black; 
    color: coral;
    border: none;
    font-size: 20px;
  
}



.navbar{

    display: flex;


}
.logo{
 

justify-content: end;
padding: 15px;
background-color: black;

}
.f_logo{
    color: azure;
    font-size:25px ;
}
.r_logo{
    color: chocolate;
    font-size:20px ;
}
.f_logo:hover{
cursor: pointer;

color: chocolate;
font-size: 30px;
transition: .35s;


}
.r_logo:hover{
    cursor: pointer;
    
    color:white;
    font-size: 25px;
    transition: .35s;
    
    
    }