
body{

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
     margin-right: 0;
     padding: 0;
     background-color: rgb(7, 7, 7);
    
}

.moto{
  
    font-family: 'Poppins', sans-serif;
    display: flex;
  
font-size: 55px;
padding-top:290px;
 padding-left: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 380px;
 

  color: aliceblue;
}
.course{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
margin-bottom: 30px;
margin-left: 40px;
margin-top: 15px;

}
.contain{
    display: flex;
}


.container{
    background-color:rgb(228, 218, 208);
}

footer{

height: 100px;
display: flex;
background-color: rgb(0, 5, 5);
color: aliceblue;
justify-content: center;

}
.card{
    background-color: black;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    margin-top: 10px;
    color: white;
    margin-bottom: 20px;
    text-decoration: none;
    margin-left: 50px;
}
.card:hover{
    height: 320px;
    width: 270px;
    margin-left: 40px;
    cursor: pointer;
    transition: .35s;
    

}



.cardtext{
 font-size: 34px;
 margin-top: 125px;
 justify-items: center;
 margin-left: 15px;


}
.t1{
color:coral;



}

.course_text{
    margin-top: 5px;
font-family:  'Poppins', sans-serif;
   font-size: 40px; 
   display: flex;
   
  
   color: rgb(14, 12, 12);
  
justify-content: center;
  
   

}

.m_re{

color: chocolate;


}






@media screen and (min-width: 0px) and (max-width: 419px) {
    .course{
        
        grid-template-columns: 1fr;
    }
    .card{
 margin-left: 40px;
 margin-right: 100px;

    }
    .course_text{
        margin-left: 70px;
        margin-right: 50px;

    }
   
    .nav_home{
        font-size: 1px;
      
    }
    
    .nav_course{
        
        font-size: 1px;
      
        
      
    }
    
    .nav_contact{
        opacity: 0;
        margin-left: ;
    }

    .moto{
font-size: 40px;
margin-left: 25px;


    }
}
@media screen and (min-width: 420px) and (max-width: 600px) {
    .course{
        
        grid-template-columns: 1fr;
    }
    .card{
 margin-left: 100px;
 margin-right: 100px;

    }
    .course_text{
        margin-left: 70px;
        margin-right: 50px;

    }
    
   
}

@media screen and (min-width: 601px) and (max-width: 820px) {
    .course{
        
        grid-template-columns: 1fr 1fr;
    }
   
}

@media screen and (min-width: 821px) and (max-width: 1040px) {
    .course{
        
        grid-template-columns: 1fr 1fr 1fr;
    }
   
}

@media screen and (min-width: 1080px) and (max-width: 1400px) {
    .course{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   
}

